*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    outline: none;
    border: none;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
   
}
button{
    cursor: pointer;
}
body{
   background-color: aliceblue;
}
img{
  width: 210px;
  height: 100%;
}
a{
  width: fit-content; 
}
.head{
    display: flex;
    justify-content: space-between;
    margin: 3px 1px ;
    background-color: white;
}
.title{
    display: flex;
    flex-direction: column;
    padding: 60px 0 40px 50px;
    margin-left:7px;
    height: 500px;
    padding-bottom: 20px;
    background: linear-gradient(to right, #0241fbff, blueviolet );
    gap: 12px;
    h1,p{
    color: white;
    }
   
h1{
    font-weight: 700;
    font-size: 90px;
   
}
    p{
        font-size: 22px;
       max-width: 920px;
       margin-right: 15px;
    }
    border-bottom-right-radius: 350px;
}
.portfolio{
    top: -100px;
    max-width: 1000px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px;
}
.sec{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
label{
    display: block;
    font-size: 26px;
    font-weight: 600;
}

.name1{
    display: flex;
    flex-direction: column;
    width: 330px;
    
}

.info, .portfolio, .name1{
    position: relative;
}
  i{
    position: absolute;
    top: 82px;
    left: 10px;
}
input{
   width: 100%;
   padding-left: 35px;
    height: 65px;
    border: 1.5px solid rgba(0, 0, 0, 0.535);
    margin: 30px 0;
    font-size: 20px;
   color: rgba(0, 0, 0, 0.749);
}

.cat,.social{
    border-bottom: 1px solid;
    padding-bottom: 15px;
    margin-bottom: 13px;
}
.educProject{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
    button:not(.pl){
    background-color: red;
    height: 52px;
    width: 230px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    
    }
    border-bottom: 1px solid;
}
.first{
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
::placeholder{
   
    font-size: 18px;
    padding-left: 20px;
}
.upload{
  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 25px 0;
    gap: 10px;
    height: 350px;
    border: 2px dashed rgba(0, 0, 0, 0.535);
    display: flex;
    flex-direction: column;
    padding: 0 3px;
    justify-content: center;
    align-items: center;
    i{
        position: static;
        font-size: 60px;
        background-color: white;
     }
      h1, i{
        opacity: .85;
      }
    p{opacity: .5;}
}
form h1:first-child{
    margin: 60px 0;
}
.certificate{
    display: flex;
    flex-direction: column;
    margin: 30px  0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.535);
}
.last{
    *{
        width: 97px;
        border: 1.5px solid rgba(0, 0, 0, 0.535);
        border-radius: 13px;
        font-size: 20px;
        font-weight: 600;
        padding:15px 13px;
        color: black;
        background-color: white;
        text-align: center;
    }
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  padding-bottom: 20px;
}

.social .info i{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    padding:5px;
    color: white; 

}
.upShow  button{
  
    height: 50px;
   width: 200px;
   color: white;
   font-size: 20px;
  border-radius: 10px;
background-color: red;
}
.upShow{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
label{
    font-weight: 500;
}
@media (max-width:700px){
    .sec{
        flex-direction: column;
        .name1{width: 100%;}
    }
    .educProject , .social , .certificate{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 40px;
    }
    .title{
        border-bottom-right-radius: 70%;
          
h1{
    font-weight: 500;
    font-size: 70px;
   text-align-last: center;
}
    p{
        font-size: 18px;
       max-width: 920px;
      
    }}
    .upShow{
        justify-content: center;
    }
    :placeholder{
        text-align: left;
    }
}